.switch-container {
  display: flex;
}

.switch-holder {
  display: flex;
  position: relative;
  border-radius: 15px;
  padding: 2px;
  border: 2px solid black;
  background-color: grey;
  box-shadow: inset 2px 2px 4px black;
  width: 90px;
  height: 30px;
  transition: 0.25s;
}
.switch-holder--switch-on {
  background-color: greenyellow;
  color: black;
  transition: 0.25s ease-in;
}

.labels {
  width: 100%;
  position: absolute;
  display: flex;
  color: white;
  top: 25%;
  justify-content: space-around;
  align-content: center;
}
.labels--switch-on {
  color: black;
  transition: 0.25s ease-in;
}

.on,
.off {
  align-self: center;
}

.switch-slide {
  position: relative;
  top: 0px;
  left: 0px;
  cursor: grab;
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  border: 2px ridge rgba(0, 0, 0, 0.726);
  background-color: rgb(195, 195, 195);
  width: 42px;
  height: 26px;
  z-index: 9;
  transition: 0.175s;
}
.switch-slide--switch-on {
  left: 45px;
  transition: 0.175s;
}
